episodes/fig/rat_brain_low_res.jpg filter=lfs diff=lfs merge=lfs -text
episodes/fig/rat_cerebellum.jpg filter=lfs diff=lfs merge=lfs -text
episodes/fig/axon_slice.jpg filter=lfs diff=lfs merge=lfs -text
episodes/fig/rat_brain.jpg filter=lfs diff=lfs merge=lfs -text
